<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alex Garzón 👨‍💻 | Desarrollador Backend</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.10.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/alex-profile-photo.jpg" alt="alex-garzon-photo" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Garzón</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/BrianChristRock" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/bgarzoncastellanos" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/alexgarzon_c/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/alex-garz%C3%B3n/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/AlexGCastellanos" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Acerca de mí</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Educación y Experiencia</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>          
          <li><a href="assets/img/cv-alex-garzon-2023.pdf" class="nav-link scrollto" download="cv-alex-garzón"><i class="bx bx-download"></i> <span>Descargar CV</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>    
  </header><!-- End Header -->

  <!-- ======= Alex Section ======= -->
  
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">    
      <h1>Hola! soy Alex</h1>
      <p><span class="typed" data-typed-items="Desarrollador Backend, Freelancer, Cinéfilo"></span></p>
    </div>
  </section><!-- Alex Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Acerca de mí</h2>
          <p>
          Soy Tecnólogo en Electrónica, y actual estudiante de Ingeniería Electrónica, cuento con más de <b>2 años de experiencia</b> 
          como Analista de Monitoreo de Infraestructura IT, actualmente poseo un fuerte interés en el desarrollo de software   
          con <b>enfasís en el desarollo backend.</b>          
          </p>          
        </div>
      </div>
    </section><!-- End About Section -->
    
                <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Un vistazo las principales tecnologías en las que cuento con conocimiento</p>
        </div>

        <div class="row">

          <div class="col" data-aos="fade-up">

          <div>
            	<img src="assets/img/portfolio/logos.png" alt="tecnologias" width="80%">
       		</div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->
        

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resumen</h2>          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">

            <h3 class="resume-title">Formación Académica</h3>
            <div class="resume-item">
              <h4>Ingeniería Electrónica</h4>
              <h5>2022 - En curso</h5>
              <p><em>Universidad Nacional de Colombia - Sede Bogotá</em></p>              
            </div>
            <div class="resume-item">
              <h4>Ingeniería de Sistemas y Computación</h4>
              <h5>2016 - 2019 (No culminado)</h5>
              <p><em>Universidad Nacional de Colombia - Sede Bogotá</em></p>              
            </div>
            <div class="resume-item">
              <h4>Programación con énfasis en Desarrollo Web (Misión TIC)</h4>
              <h5>Enero 2022 - Diciembre 2022</h5>
              <p><em>Universidad Tecnólogica de Pereira</em></p>              
            </div>
            <div class="resume-item">
              <h4>Tecnólogo en Mantenimiento Electrónico e Industrial</h4>
              <h5>Enero 2011 - Diciembre 2012</h5>
              <p><em>Servicio Nacional de Aprendizaje - SENA</em></p>              
            </div>
            <div class="resume-item">
              <h4>Máster Completo en Java de cero a experto</h4>
              <h5>Septiembre 2022 - Enero 2023</h5>
              <p><em>Udemy</em></p>              
            </div>
            <div class="resume-item">
              <h4>ITIL Foundation Certificate in IT Service Management</h4>
              <h5>Enero 2020 - Abril 2020</h5>
              <p><em>Axelos Global Best Practice</em></p>              
            </div>                   
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiencia Profesional</h3>
            <div class="resume-item">
              <h4>Analista de Monitoreo TI</h4>
              <h5>Abril 2021 – Noviembre 2022  </h5>
              <p><em>Indra Colombia, Bogotá</em></p>
              <ul>
                <li>Analista NOC, realicé labores de monitoreo, gestión de incidentes sobre servicios y 
                elementos de Infraestructura IT como servidores Windows y Linux, Bases de Datos SQL 
                y Capa Media (Weblogic) a través de plataformas como Zabbix, Nagios, Appdynamics y Grafana. 
                Redacción de correos y generación de reportes.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Analista de Monitoreo</h4>
              <h5>Enero 2020 – Marzo 2021  </h5>
              <p><em>PC Smart Colombia, Bogotá</em></p>
              <ul>
                <li>Analista NOC,ejecuté labores de monitoreo, gestión de incidentes y alertas sobre servicios y 
                dispositivos de telecomunicaciones a nivel WAN, LAN, WLAN, Energía Regulada y Videoconferencia.
                Redacción de correos y generación de reportes. 
                Durante este periodo obtuve constante reconocimiento por parte de mi jefe 
                por mi eficiencia en la resolución de problemas brindando soporte técnico.</li>
              </ul>
            </div>
			<div class="resume-item">
              <h4>Técnico reparador nivel 1</h4>
              <h5>Octubre 2015 – Febrero 2016</h5>
              <p><em>Celular Sun, Bogotá</em></p>
              <ul>
                <li>Reparación de celulares de varias marcas como Samsung, Alcatel, Sony, Azumi, Avvio, proceso de soldadura,
                 ensamble y desensamble, cambio de partes mecánicas y eléctricas, actualización de software, 
                 manejo base de datos de inventario de los equipos. </li>
              </ul>
            </div>
			<div class="resume-item">
              <h4>Técnico reparador</h4>
              <h5>Septiembre 2014 – Septiembre 2015 </h5>
              <p><em>Woden, Bogotá</em></p>
              <ul>
                <li>Reparación de dispositivos de red y telecomunicaciones, como decodificadores de TV 
                y módems, se realizaba diagnósticos preventivos, procesos de soldadura, uso de herramientas de medición 
                y conceptos de electricidad y electrónica.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portafolio</h2>
          <p>Conoce algunos de mis proyectos</p>
        </div>
		<div class="row p-3 ">
			<div class="card p-3 mx-2" style="width: 18rem;">
			  <img src="assets/img/portafolio-img.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Mi Portafolio</h5>
			    <p class="card-text">Construí mi propio portafolio para mostrar mis proyectos al mundo , fue desarrollado usando
           <b>Java con Spring Boot en el backend</b>, la interfaz gráfica está hecha con <b>Thymeleaf, Bootstrap y HTML</b>.
          </p>
			    <a href="https://github.com/AlexGCastellanos/my-portfolio" class="btn btn-dark">Ver proyecto en GitHub</a>
			  </div>
			</div>
			<!--
			<div class="card p-3 mx-2" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-dark">Ver proyecto en GitHub</a>
			  </div>
			</div>
			
			<div class="card p-3 mx-2" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-dark">Ver proyecto en GitHub</a>
			  </div>
			</div>
		</div> -->
		
        </div>
      
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title p-3">
          <h2>Contáctame</h2>
          <p>Hablamos? No dudes en realizar tus inquitudes ! 📞😊 </p>
        </div>        
		    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${exito != null}" th:text="${exito}"></div>
        <div class="alert alert-danger" th:if="${error != null}">
	        <div th:if="${error.containsKey('nombre')}"  th:text="${error.nombre}"></div>      	
	        <div th:if="${error.containsKey('email')}"  th:text="${error.email}"></div>         
	        <div th:if="${error.containsKey('asunto')}"  th:text="${error.asunto}"></div> 
	    </div>    
      <div class="row" data-aos="fade-in">

       <div class="col"> 
        <div class="card p-3 m-3" style="width: 95%">
          <form th:action="@{contact}" method="post" th:object="${visitor}">
           <div class="row">
             
             <div class="form-group col-md-6">
               <label for="nombre"><b>Tu Nombre</b></label>                  
               <div>
                 <input type="text" id="nombre" class="form-control" th:field="*{nombre}">
               </div>              	           
             </div>
             
             <div class="form-group col-md-6">
               <label for="email"><b>Tu Email</b></label>
               <div>
                 <input type="text" id="email" class="form-control" th:field="*{email}">
               </div>
               <!--  <div th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"></div>  -->  
             </div>
           
           </div>
           
           <div class="form-group">
             <label for="asunto"><b>Asunto</b></label>
             <div>
               <input type="text" id="asunto" class="form-control" th:field="*{asunto}">
             </div>
             <!--  <div th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"></div>  --> 
           </div>
           
           <div class="form-group">
             <label for="body"><b>Mensaje</b></label>
             <textarea class="form-control" rows="10" id="body"  th:field="*{body}"></textarea>
           </div>
           
           <div class="text-center p-3">
             <input type="submit" value="Enviar mensaje" class="btn btn-primary"></input>
           </div>
         </form>
       </div>
      </div> 

           <div class="col"> 
            <div class="info m-3 p-3" style="width: 95%">
              
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Ubicación:</h4>
                <p>Bogotá, Colombia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>briangarzon94@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Teléfono:</h4>
                <p>+57 319 376 85 34</p>              
			        </div>
          </div>
        </div>  
     

      	</div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Alex Garzón</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Diseñado con <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>